.social_icons {
  position:absolute;
  /* top:50%; */
  transform: translate(188%, -66%);
  margin:0;
  padding:0;
  display:flex;
}

.social_icons li {
  list-style: none;
}

.social_icons li a {
  position: relative;
  width:60px;
  height:60px;
  display:block;
  text-align:center;
  margin:0 10px;
  border-radius: 50%;
  padding: 6px;
  box-sizing: border-box;
  text-decoration:none;
  box-shadow: 0 10px 15px rgba(0,0,0,0.3);
  background: linear-gradient(0deg, #ddd, #fff);
  transition: .5s;
}

.social_icons li a:hover {
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.social_icons li a .fa {
  widht: 100%;
  height:100%;
  display:block;
  background: linear-gradient(0deg, #fff, #ddd);
  border-radius: 50%;
  line-height: calc(60px - 12px);
  font-size:24px;
  color: #262626;
  transition: .5s;
}

.social_icons li:nth-child(1) a:hover .fa {
  color: #3b5998;
}

.social_icons li:nth-child(2) a:hover .fa {
  color: #00aced;
}

.social_icons li:nth-child(3) a:hover .fa {
  color: #0077b5;
}
