<nav class="navbar navbar-inverse">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<div class="container-fluid">
<div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>                        
  </button>
  <a class="navbar-brand" href="">AlumniDirectory</a>
</div>
<div class="collapse navbar-collapse" id="myNavbar">
  <ul class="nav navbar-nav">
    <li class="/"><a href="/home">Home</a></li>
    <li><a href="team">Team</a></li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="/contact">Contacts<span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="#">Alumni</a></li>
        <li><a href="#">Administrator</a></li>
        <li><a href="#">Students</a></li>
      </ul>
    </li>
    <li><a href="/help">Help</a></li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-log-in"></span> Login</a>
          <ul class="dropdown-menu">
            <li><a href="/alumniLogin">As alumni</a></li>
            <li><a href="/adminLogin">As administrator</a></li>
            <li><a href="studentLogin">As students</a></li>
          </ul>
        </li>
    <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
  </ul>
</div>
</div>
</nav>

