{% extends 'layout.html' %}

{% block body %}
<div class="content">

	<div class="signup">

		<div id="signup1">
			<div class="form">
				<h1>Register</h1>

				<form id="sign_up" action="" method="POST">
					<div class="top-row">
						<div class="field-wrap">
							<label>
								Password<span class="req"> *</span>
							</label>
							<input id="password" type="password" name="password1" required autocomplete="off" />
						</div>

						<div class="field-wrap">
							<label>
								Confirm Password<span class="req"> *</span>
							</label>
							<input id="password2" type="password" name="password2" required autocomplete="off" />
						</div>
					</div>

					<button id="next1" type="submit" class="button button-block">Next</button>
				</form>
			</div>
		</div>

		<div id="signup2">

		</div>
	</div>
</div>

<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script>
$(document).ready(function(){
  $("#next1").click(function(e){
    var flag = 1;
    var password1 = $("#password1").val();
    var password2 = $("#password2").val();
		var lower_flag = 0;
		var upper_flag = 0;
		var digit_flag = 0;
		console.log(password1.length)
		if(password1.length < 8){
			alert("Password must be atleast 8 characters long");
			flag = 0;
		}
		else{
			var i=0;
			while(i < password1.length){
				console.log(password1[i])
				if(password1[i]>='A' && password1[i]<='Z'){
					upper_flag = 1;
				}
				else if(password1[i]>='a' && password1[i]<='z'){
					lower_flag = 1;
				}
				else if(password1[i] >= '0' && password1[i] <= '9'){
					digit_flag = 1;
				}
				i = i+1;
			}
		}
		if(upper_flag == 0){
			alert("Password must contain atleast one capital letter");
			flag=0;
		}
		if(lower_flag == 0){
			alert("Password must contain atleast one small letter");
			flag=0;
		}
		if(digit_flag == 0){
			alert("Password must contain atleast one digit");
			flag=0;
		}
    if(password1 != password2){
      alert("Password does not matches.");
      flag = 0;
    }
    if(!flag){
      window.location.reload();
      e.preventDefault();
    }
		console.log(flag);
  });
});
</script>
{% endblock %}